.ai-model-select[data-v-2254e1d2]{width:220px}.ai-model-select-item[data-v-2254e1d2]{display:flex;align-items:center}.ai-model-select-item img[data-v-2254e1d2]{width:20px;height:20px;margin-right:4px}
