.detail-total[data-v-b17cdcf0]{color:var(--jx-text-color-secondary)}.group-name-cascader .jx-cascader__tags .jx-cascader__search-input{min-width:0}.group-name-cascader .jx-cascader__tags .jx-tag{max-width:75%}
