.weight-editor-config .pro-input[data-v-350f0773]{width:200px}.weight-editor-config .pro-input+span[data-v-350f0773]{margin:0 5px}.weight-editor-config .pro-form-item[data-v-350f0773]{margin-bottom:18px}
